<div class="p-3">
  <div class="card">
    <div class="card-body" *ngIf="productForm">
      <div class="row">
        <div class="col-md-6">
          <form [formGroup]="productForm" (ngSubmit)="updateProduct()">
            <div class="mb-3">
              <label class="form-label">Name</label>
              <input class="form-control" type="text" formControlName="name">
            </div>
            <div class="mb-3">
              <label class="form-label">Price</label>
              <input class="form-control" type="number" formControlName="price">
            </div>
            <div class="mb-3">
              <label class="form-label">Checked</label>
              <input class="form-check-input" type="checkbox" formControlName="checked">
            </div>
            <button class="btn btn-success" [disabled]="productForm.invalid">Edit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

