<div class="p-3">
  <div class="card">
    <div class="card-header">
      List Products
    </div>
    <div class="card-body">
      <input type="text" [(ngModel)]="appState.productState.keyword">
      <button class="btn btn-outline-success" (click)="searchProduct()">
        <i class="bi bi-search "></i>
      </button>

      <table class="table">
        <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Price</th>
          <th>Checked</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody *ngIf="appState.productState.products">
        <tr *ngFor="let p of appState.productState.products">
          <td>{{p.id}}</td>
          <td>{{p.name}}</td>
          <td>{{p.price}}</td>
          <td>
            <button (click)="handleCheckProduct(p)"
                    class="btn btn-outline-success">
              <i [class]="p.checked?'bi bi-check':'bi bi-circle'"></i>
            </button>
          </td>
          <td>
            <button (click)="handleDelete(p)" class="btn btn-outline-danger ms-2">
              <i class="bi bi-trash-fill"></i>
            </button>
            <button (click)="handleEdit(p)" class="btn btn-outline-success ms-2">
              <i class="bi bi-pen-fill"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <ul class="nav nav-pills">
        <li *ngFor="let page of getArray(this.appState.productState.totalPages); let i=index" [class.active]="appState.productState.currentPage === page">
          <button class="btn btn-outline-success m-1" (click)="handleGoToPage(page)">
            {{page}}
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
